@import "tailwindcss";

body {
margin: 0;
  background:white;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

h1, a , span, button {
  font-weight:600;
}

.shadow {
  box-shadow: 1px 0px 10px 5px rgba(146, 143, 143, 0.2);
}

.marquee-track {
  display: flex;
  animation: marquee 20s linear infinite;
    flex-wrap: nowrap;
}

.marquee-container {
  width: 100%;
  overflow: hidden;
}
.marquee-item {
  flex: 0 0 auto;
}

@keyframes marquee {
    0% {
    transform: translateX(0);
  }
    100% {
    transform: translateX(-50%); 
  }
}