@import "tailwindcss";

body {
margin: 0;
  background:white;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

h1, a , span, button {
  font-weight:600;
}

.shadow {
  box-shadow: 1px 0px 10px 5px rgba(146, 143, 143, 0.2);
}